#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  margin: 2rem auto;
}

h1 {
  color: #333;
}

form {
  display: flex;
  margin-bottom: 20px;
}

form input[type='text'] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

form button {
  padding: 10px 15px;
  border: none;
  background-color: #5c67f2;
  color: white;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
}

form button:hover {
  background-color: #4a54c4;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #fff;
  border-bottom: 1px solid #ddd;
}

li:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

li span {
  cursor: pointer;
  flex: 1;
  text-align: left;
}

li button {
  background: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

li:hover button {
  visibility: visible;
  opacity: 1;
}
